body{
  font-family: 'PT Sans', sans-serif;
  margin:0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.tbl-div td{
    border-bottom: 1px solid #ddd;
    padding: 8px;
}


.tbl-div tr:nth-child(even){background-color: #f2f2f2;}
.tbl-div td:nth-child(2){color: #aace9f;}
.tbl-div td:nth-child(3){color: #3e75af;}
.tbl-div td:nth-child(4){color: #e19d99;}
.tbl-div tr:hover {background-color: #ddd;}

.tbl-div th {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid black;
    color: black;
}
.tbl-graph-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.graph-div{
  max-width: 800px;
  order: 1;

}
.tbl-div{
  max-width: 350px;
  align-self: center;
  order:2;
}
.comps-container{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  justify-content: space-around;
  padding-left: 10px;

}
.comp-cell{
  align-self: center;
  background: #f2f2f2;
  border: 1px solid #3e75af;
  border-radius: 10px;
  padding: 10px 5px;
  min-width: 200px;
  width: 18%;
}
#player-select-div{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
    padding-left: 10px;
}
#name-dropdown{
  width: 300px;
}
.stepsList{
  min-width: 300px;
}
.header{
  background: #3e75af;
  margin:0;
  padding:1px 10px 10px 15px
}

.header>h1, .header>h4{
  color: white;
  margin: 0;
  padding: 0;
}
.footer{
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid #ddd;
  justify-content: space-between;
  padding: 10px;
}
